
<div style="text-align:center" class='wrapper'>
  <h1>
    Welcome to {{ title }}!    
  </h1>
  <!-- {{results | json}} -->
</div>
<div class='res' *ngIf="resultWin">
  <h2>Here is a list of the current tasks:  <button class='btn btn-primary add-btn' (click) = 'EnableAddWindow()' >Add</button></h2>    
  <div class='res_table'>
  <table class="table table-hover res_table">
    <thead>
      <tr>        
        <th scope="col">Task Name</th>
        <th scope="col">Task Details</th>
        <th scope="col">Competed</th>
      </tr>
    </thead>
    <tbody>    
      <tr *ngFor="let task of results" (click) ='ChangeCompleted(task._id)'>        
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.completed}}</td>        
        <td><button class='btn btn-warning' (click)='GetOneTask(task._id, $event)'>Edit</button></td>
        <td><button class='btn btn-danger' (click)='DeleteOne(task._id)'>Delete</button></td>      
      </tr>
    </tbody>
  </table>
</div>
</div>
<edit-data *ngIf="editWindow" [requested] = "requested" (canceled)='hideWindows()' (updated)='GetTasks()'></edit-data><create-data *ngIf="createWindow" (canceled)='hideWindows()' (created)='GetTasks()'></create-data>
